## Deliverable 3. Create a Travel Itinerary Map.

In [34]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
import matplotlib.pyplot as plt
# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [35]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,1,1,EC,82.54,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,6,6,BR,77.47,broken clouds,-27.4556,-53.9319,Hotel Imperial
2,9,9,US,75.29,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
3,12,12,RE,79.18,light rain,-21.3667,55.6167,"""Plantation Bed and Breakfast"
4,21,21,OM,80.69,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
5,23,23,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
6,27,27,SB,76.53,overcast clouds,-8.7676,160.7034,Auki Motel
7,29,29,PF,75.22,scattered clouds,-17.5333,-149.3333,Le Rocher de Tahiti
8,31,31,MR,85.93,clear sky,18.0858,-15.9785,HOTEL IMAN
9,32,32,BR,81.55,overcast clouds,-3.9839,-38.7273,Bela vista Maranguape

In [49]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Description<dt/><dd>{Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [50]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["Hotel Name"] == "Hospitality Carnarvon"]
vacation_stop1 = vacation_df.loc[vacation_df["Hotel Name"] == "ibis Styles Karratha"]
vacation_stop2 = vacation_df.loc[vacation_df["Hotel Name"] == "Desert Palms Alice Springs"]
vacation_stop3 = vacation_df.loc[vacation_df["Hotel Name"] == "Desert Gardens Hotel - Ayers Rock Resort"] 
vacation_end = vacation_df.loc[vacation_df["Hotel Name"] == "Hospitality Carnarvon"]

In [63]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(start)
print(stop1)
print(stop2)
print(stop3)
print(end)

(-24.8667, 113.6333)
(-20.7377, 116.8463)
(-23.7, 133.8833)
(-25.2406, 130.9889)
(-24.8667, 113.6333)

In [65]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
city_itinerary = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3],travel_mode = 'DRIVING')
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
data = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
itinerary_df = pd.concat(data)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
56,212,212,AU,77.07,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
189,670,670,AU,89.85,overcast clouds,-20.7377,116.8463,ibis Styles Karratha
141,506,506,AU,83.75,broken clouds,-23.7000,133.8833,Desert Palms Alice Springs
119,440,440,AU,78.64,broken clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Description<dt/><dd>{Description}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
plt.savefig("Vacation_Search/WeatherPy_vacation_map.png")
fig

Figure(layout=FigureLayout(height='420px'))